.logo{
    font-size: var(--fs-5xs);
}

.wrapper {
    background-color: var(--bg-base-color);
    border-radius: 50px;
}

.wrapper span {
    color: var(--gray-color);
}

.nav__item {
    
}

.nav__item {
    position: relative;
    cursor: pointer;
    width: 112px;
    height: 52px;
}

.nav__item:hover {
    background-color: var(--bg-base-color);
    border-radius: 10px;
}

.nav__item--active {
    border-bottom: 3px solid var(--blue-1color);
}

.nav__item--active:hover {
    border-radius: 0px;
    background-color: var(--white-color);
}

.nav__item--active svg {
    fill: var(--blue-1color);
}

.item__watch::before {
    content: '9+';
    position: absolute;
    top: 3px;
    right: 29px;
    width: 23px;
    height: 18px;
    background-color: var(--red-color);
    border-radius: 10px;
    color: var(--white-color);
    font-size: var(--fs-s);
    text-align: center;
}

.avatar__name  {

}

.icon__wrapper {
    padding: 10px;
    background-color: var(--bg-base-color);
    border-radius: 50%;
    cursor: pointer;
}

.icon__wrapper--medium {
    padding: 6px;
    background-color: var(--bg-gray-color);
}
.icon__wrapper--small {
    padding: 8px;
    background-color: transparent;
}
.icon__wrapper:hover {
    background-color: var(--bg-gray-color);
}
.icon__wrapper--medium:hover {
    background-color: var(--bg-gray-color);
}

.content {
    background-color: var(--bg-base-color);
    font-size: var(--fs-s);
    min-height: 100vh;
}

.sidebar__img {
    width: 36px;
    height: 36px;
}

.sidebar__img--rounded {
    border-radius: 10px;
}

.navbar__avatar {
    position: relative;
}
.navbar__avatar::after {
    content: '';
    position: absolute;
    right: 5px;
    bottom: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
    background-color: var(--bg-green-color);
}

.navbar__item:hover {
    background-color: var(--bg-gray-color);
    cursor: pointer;
    border-radius: 7px;
}

.bar__title {
    font-weight: 600;
    color: var(--gray-color);
    font-size: var(--fs-base);
}

.advertisement__link {
    color: var(--gray-color);
    font-size: var(--fs-xs);
}

.advertisement__logo img {
    border-radius: 10px;
}

.advertisement__item:hover {
    background-color: var(--bg-base-color);
    border-radius: 10px;
}

.stories__img {
    width: 100%;
}

.stories__item {
    position: relative;
    height: 190px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.stories__item:hover > .coat {
    opacity: 0.4;
}

.stories__img {
    border-radius: 10px;
    height: 100%;
}

.stories__img--main {
    width: 100%;
    height: 70%;
    border-radius:10px 10px 0px 0px;
}

.stories__avatar {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.stories__name {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: var(--white-color);
    font-weight: var(--fw-b);
    font-size: var(--fs-xs);
}

.coat {
    position: absolute;
    background-color: black;
    opacity: .3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.stories__avatar img {
    width: 38px;
    height: 38px;
    border: 4px solid var(--blue-1color);
    border-radius: 50%;
}

.post__text p {
    color: var(--base-color);
    font-weight: var(--fw-md);
    font-size: var(--fs-s);
    line-height: var(--lh-s);
    margin: 0;
}